<div>
	<h3><span>Details for </span><span class='name'><%= name %></span><span> chart</span></h3>
	<p><%= description %></p>
	<div class='detail-chart-placeholder'></div>
	<div class='back-to-home'>Back to home page</div>
	<div class='edit-chart'>Edit chart</div>
	<div class='edit-form hide'>
		<form>
			Chart name:
			<input type="text" class="chart-name" value = <%= name %>>
			<br>
			<button class="apply-change">Apply</button>
			<button class="cancel-change">Cansel</button>
		</form>
	</div>
</div>