<div class="chart">
	<div class="chart-placeholder"></div>
	<div class="chart-description">
		<h3><%= name %></h3>
		<p><%= description %></p>
	</div>
	<div class="chart-blocker">Show more details</div>
</div>