body, html {
  height: 100%;
  overflow: hidden;
}

h2, h3 {
	color: #777;
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
	background-color: #eaeaea;
}

.DGApp {
	background: white;
	border: 1px solid black;
	border-radius: 3px;
	margin: 35px 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
	height: 90%;

	>div {
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	.hide {
		display: none;
	}

	.aside-placeholder {
		width :  300px;
		display : inline-block;
		background : #252530;
		height: 100%;
		border-right: 2px solid black;
		float : left;

		.aside-content {
			h2 {
				margin-left: 10px;
			}
			
		}

		.tab {
			color: white;
			background: #8085e8;
			cursor: pointer;
			padding: 10px;
			font-size: 25px;
			margin: 5px 1px;

			&:hover {
				background: rgba(73,155,234,1);
			}

			.number {
				float : right;
			}
		}

		.active {
			border-bottom: 3px solid red;
		}
	}

	.charts-placeholder {
		width :  calc(~"100% - 310px");
		display : inline-block;
		height: 100%;

		.charts-tittle {
			text-align: center;
		}

		.charts-content {

			.chart {
				width : 98%;
				height: 250px;
				border-top: 1px solid black;
				margin : 10px;
				float: left;
				position: relative;

				>div {
					float: left;
					height: 100%;
					width : 45%;
					margim: 0 1%;
				}

				.chart-placeholder {
					width :  500px;	
				}

				.chart-description {
					width :  calc(~"100% - 520px");
				}

				.chart-blocker {
					display: none;
				}

				&:hover {
					.chart-blocker {
						display: block;
						position: absolute;
						background: rgba(209,209,209,0.7);
						width: 100%;
						color: white;
						text-align: center;
						font-size: 20px;
						line-height: 250px;
						cursor: pointer;
					}
				}
			}
		}
	}

	.about-placeholder {
		.about-container {
			margin: 60px 20%;	
		}
	}

	.detail-placeholder {
		padding: 20px;
		height :  calc(~"100% - 40px");

		.name {
			color : black;
		}



		.back-to-home, .edit-chart {
			text-align: center;
			font-size : 20px;
			background: rgba(209,209,209,0.7);
			cursor: pointer;
			color: white;
			margin: 50px 5px 0 5px;
			padding: 10px;
			width :  calc(~"50% - 40px");
			float: left;
		
			&:hover {
				color: black;
			}
		}

		.edit-form {
			font-size: 14px;
			color: #777;
			background: rgba(209, 209, 209, 0.7);
			border: 1px solid black;
			padding: 20px;
			border-radius: 10px;
			width: 30%;
			margin: 125px auto 0;
			text-align: center;

			input {
				margin-left: 20px;
				padding: 2px;
				font-size: 18px;
			}

			button {
				font-size: 14px;
				color: #777;
				padding: 5px;
				margin: 18px 5px;	
			}
		}

		
	}
}