<div class="about-container">
	<h2>About page</h2>
	<span><%= description %></span>
	<h2 >DG Chart application</h2>
	<h3 >What about this application?</h3>
	<p>This is SPA application which has been writing with backbone, highcharts, requirejs, LESS tchnologies. <br>DG Charts application contain:</p>
	<ul>
		<li>Menu that has a link to the home page and to a page describing this application</li>
		<li>The home page should display a number of charts which loaded from </li>
		<li>There is ability to display a larger chart version with descriptions in new page(each details chart has it's particular route)</li>
		<li>There is ability to alter name of the charts, by clicking edit chart button on details screen</li>
	</ul>
	<p>Data for the application comes from "data" dirrectory, and stored in JSON files</p>
	<h3>How start to work with application:</h3>
	<ul>
		<li>Clone this project into yours local mashine</li>
		<li>Install yeoman or simply just bower and grunt</li>
		<li>Once they have been installed go to the directory and install the grunt-cli -&gt; 'npm install -g grunt-cli' and then 'npm install'</li>
		<li>Next run 'bower install' to install all the dependencies required</li>
		<li>Once everything has been installed simply run 'grunt server' and begin work with application</li>
		<li>Styles write in less files. In order to compile .less to .css run 'grunt less' command in your terminal</li>
	</ul>
</div>